@charset "utf-8";
@font-face {
  font-family: 'Montserrat';
  src: url('font/Montserrat-ExtraBoldItalic.eot');
  src: url('font/Montserrat-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('font/Montserrat-ExtraBoldItalic.woff2') format('woff2'),
      url('font/Montserrat-ExtraBoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('font/Montserrat-ExtraBold.eot');
  src: url('font/Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('font/Montserrat-ExtraBold.woff2') format('woff2'),
      url('font/Montserrat-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('font/Montserrat-Medium.eot');
  src: url('font/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
      url('font/Montserrat-Medium.woff2') format('woff2'),
      url('font/Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('font/Montserrat-SemiBold.eot');
  src: url('font/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('font/Montserrat-SemiBold.woff2') format('woff2'),
      url('font/Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('font/Montserrat-SemiBoldItalic.eot');
  src: url('font/Montserrat-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
      url('font/Montserrat-SemiBoldItalic.woff2') format('woff2'),
      url('font/Montserrat-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('font/Inter-ExtraBold.eot');
  src: url('font/Inter-ExtraBold.eot?#iefix') format('embedded-opentype'),
      url('font/Inter-ExtraBold.woff2') format('woff2'),
      url('font/Inter-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('font/Inter-Regular.eot');
  src: url('font/Inter-Regular.eot?#iefix') format('embedded-opentype'),
      url('font/Inter-Regular.woff2') format('woff2'),
      url('font/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('font/Inter-Medium.eot');
  src: url('font/Inter-Medium.eot?#iefix') format('embedded-opentype'),
      url('font/Inter-Medium.woff2') format('woff2'),
      url('font/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('font/Inter-Black.eot');
  src: url('font/Inter-Black.eot?#iefix') format('embedded-opentype'),
      url('font/Inter-Black.woff2') format('woff2'),
      url('font/Inter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

body {
  line-height: 1;
  color: #000;
  overflow-x: hidden;
  font-family: 'Montserrat';
  font-weight: 500;
}

#loading {
  background-color: rgb(0, 0, 0);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  font-weight: 800;
}

#loading .title {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  font-size: 60px;
  transform: translate(0, -50%);
  text-align: center;
}

.splash .line {
  position: absolute;
  width: 0;
  height: 1px;
  background-color: #ffffff;
  z-index: 999999;
  top: 50%;
  transform: translateY(-50%);
  animation: line 2s;
  
}

@keyframes line {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
    opacity: 0.1;
  }
}

/* header */
header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  position: fixed;
}

header .inner {
  display: flex;
  align-items: center;
  z-index: 9;
  height: 150px;
}

header .inner h1 img {
  width: 100px;
  margin-left: 40px;
}

nav {
  position: relative;
}

nav ul {
  text-align: center;
  margin-left: 540px;
  font-weight: 400;
  font-size: 20px;
  font-family: 'Montserrat';
}

.bar {
  position: absolute;
  top: -20px;
  left: 0;
}
.bar img {
  
  height: 58px;
  display: block;
}
nav ul li {
  display: inline-block;
  /* margin-left: 70px; */
}
nav ul li.on {
  color: #F9BCCA;
}

nav ul li a {
  padding: 0 30PX ;
  /* a태그에 padding 값 줘서 도형이미지 li값으로 먹게함 */
}

/* main_visual */
.main_visual {
  width: 1920px;
  margin: 0 auto;
  position: relative;
}

.main_visual figure {
  width: 100%;
  height: 100vh;
}

.main_visual figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main_t {
  font-family: 'Inter';
  font-weight: 500;
}
.main_visual div h1 {
  position: absolute;
  top: 286px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 100px;
  text-shadow: 2px 6px 2px gray;
}

.main_visual div h2 strong {
  -webkit-text-stroke: 2px #000;
  color: transparent;
  font-weight: 800;
  font-family: 'Inter';
}

.main_visual div h2 {
  font-weight: 400;
  position: absolute;
  top: 400px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  white-space: nowrap;
  /* 자동으로 줄바꿈 하지 않도록 설정 */
  font-size: 100px;
  /* color: #fff; */
  padding: 20px 0;
  animation-name: text;
  /* 이름 */
  animation-duration: 30s;
  /* 움직이는 시간 */
  animation-iteration-count: infinite;
  /* 반복 횟수 */
  /* 횟수 무한반복 실행 infinite */
  animation-duration: alternate;
  /* 재생방향
  alternate: 정방향 재생 후 역방향
  reverse: 역방향     
  */
}

@keyframes text {

  /* 시작 */
  0% {
    transform: translateX(0);
  }

  30% {
    color: #333;
  }

  /* 끝 */
  100% {
    transform: translateX(-100%);
    /* 양수시 오른쪽에서 왼쪽 
      음수시 왼쪽에서 오른쪽 이동*/
  }
}

.main_visual div p {
  position: absolute;
  top: 70%;
  left: 410px;
  font-size: 25px;
  line-height: 1.3;
  font-weight: 400;
}

.contact_img .img01 {
  position: absolute;
  top: 70%;
  right: 30%;
  width: 9%;
  animation: circle 11s infinite linear;
}

@keyframes circle {

  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.contact_img .img02 {
  position: absolute;
  top: 76.5%;
  right: 33.5%;
  width: 50px;
}

.intro {
  width: 1920px;
  margin: 0 auto 200px;
  height: 100vh;
  background: url('../img/배경img.jpg') center center / cover no-repeat;
}

.intro .inner {
  width: 1180px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
}
.intro .inner h3 {
  font-family: 'Montserrat';
  font-weight:  700;
}
.inner .profile {
  margin-top: 100px;
}

.inner .profile .me {
  text-align: center;
}

.inner .profile .me p:first-child {
  margin-top: 30px;
  font-size: 30px;
  font-weight: bold;
}
.inner .profile .me span {
  display: block;
  margin-top: 10px;
  font-size: 25px;
  font-weight: 600;
  font-family: 'Montserrat';
}
.inner .profile .me p:nth-child(3) {
  font-size: 25px;
  margin-top: 5px;
}

.inner .profile .me h4 {
  font-size: 22px;
  margin-top: 30px;
  line-height: 1.3;
  font-weight: 600;
}

.inner .profile h3 {
  text-align: center;
  font-size: 35px;
  margin-bottom: 30px;
}

.intro .profile_right {
  margin-top: 100px;
  height: 600px;
}

.intro .profile_right .skills {
  margin-top: 70px;
}

.intro .profile_right .skills p {
  font-size: 22px;
  margin: 7px 0 2px 0;
}

.intro .profile_right .education p {
  font-size: 25px;
  line-height: 1.5;
}

.intro .profile_right h3 {
  font-size: 35px;
  margin-bottom: 30px;
}

.intro .profile figure {
  width: 354px;
  height: 354px;
}

.intro .profile figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.progress1,
.progress2,
.progress3,
.progress4,
.progress5 {
  border: #000 1px solid;
  background: #ffffff;
  /* box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08); */
}

.progress-bar1,
.progress-bar2,
.progress-bar3,
.progress-bar4,
.progress-bar5 {
  width: 430px;
  height: 30px;
  transition: 0.4s linear;
  transition-property: width, background-color;
}

.progress-moved.on .progress-bar1 {
  width: 85%;
  background-color: #8192E2;
  animation: progressAnimation 6s;
}

.progress-moved.on .progress-bar2 {
  width: 85%;
  background-color: #8192E2;
  animation: progressAnimation 6s;
}

.progress-moved.on .progress-bar3 {
  width: 70%;
  background-color: #8192E2;
  animation: progressAnimation 6s;
}

.progress-moved.on .progress-bar4 {
  width: 85%;
  background-color: #8192E2;
  animation: progressAnimation 6s;
}

.progress-moved.on .progress-bar5 {
  width: 70%;
  background-color: #8192E2;
  animation: progressAnimation 6s;
}


@keyframes progressAnimation {
  0% {
    width: 5%;
    background-color: #F9BCCA;
  }

  /* 100% {
    width: 85%;
    background-color: #8192E2;
  } */
}

.work {
  width: 1920px;
  margin: 0 auto;
  position: relative;
  padding-top: 150px;
}

.work .work01,
.work .work02,
.work .work03,
.work .work04,
.work .work05 {
  width: 1440px;
  margin: 0 auto;
}
.work01 .btn {
  margin-left: 125px;
}

.work .work01 figure {
  width: 1050px;
  position: absolute;
  top: 80px;
  right: 20px;
}

.work .work01 figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work .work01 .title {
  font-size: 60px;
  text-align: center;
  font-family: 'Inter';
  font-weight: 500;
}

.work .work01 .title strong {
  -webkit-text-stroke: 2px #000;
  color: transparent;
  font-weight: 900;
}

.work01_text {
  width: 1440px;
  margin: 0 auto;
  height: 640px;
  background-color: #d7dfd380;
  border-radius: 50px;
  box-shadow: 0 10px rgba(187, 187, 187, 0.445);
}

.work .inner {
  padding: 130px;
}

.work01>.inner ul {
  font-size: 20px;
}

.work .inner ul li {
  margin-bottom: 20px;
  font-size: 20px;
}

.work .inner>ul li strong {
  width: 80px;
  display: inline-block;
}

.work .inner>ul li span {
  width: 290px;
  margin-left: 85px;
}

.work01_text h2,
.work02_text h2,
.work03_text h2,
.work04_text h2,
.work05_text h2,
.work06_text h2 {
  font-size: 35px;
  margin-bottom: 10px;
  font-family: 'Montserrat';
  font-weight: 600;
}

.work01_text p,
.work02_text p,
.work03_text p,
.work04_text p,
.work05_text p,
.work06_text p {
  font-size: 25px;
  margin-bottom: 60px;
  position: relative;
  font-weight: 500;
}

.work02_text p {
  position: relative;
  margin-bottom: 60px;
  font-weight: 500;
}

.work01_text p::after {
  content: '';
  width: 520px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 55px;
  left: 0;
}

.work .btn>a {
  display: inline-block;
  width: 250px;
  height: 60px;
  background-color: transparent;
  border: #000 2px solid;
  text-align: center;
  line-height: 52px;
  border-radius: 10px;
  margin-top: 60px;
  margin-right: 20px;
 
}
.work .btn>a:hover {
  background-color: #000;
  color: #fff;
}

.work .btn h4 {
  font-size: 25px;
  font-weight: 600;
}

.work .work02 {
  padding-top: 200px;
  position: relative;
}

.work02_text p::after {
  content: '';
  width: 520px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 55px;
  right: 28px;
}

.work02_text .inner {
  margin-left: 630px;
}

.work02_text {
  width: 1440px;
  margin: 350px auto;
  height: 640px;
  border-radius: 50px;
  background-color: #ECE2EB;
  box-shadow: 0 10px #a8a1a888;
}

.work .work02 figure {
  width: 740px;
  height: 660px;
  position: absolute;
  top: 46%;
  left: -60px;
}

.work .work02 figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work03,
.work04,
.work05,
.work06 {
  position: relative;
}

.work03 figure,
.work04 figure {
  width: 570px;
  height: 348px;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.work03 figure img,
.work04 figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work03_text {
  width: 1440px;
  margin: 350px auto 200px;
  height: 640px;
  border-radius: 50px;
  background-color: #e0e8e871;
  box-shadow: 0 10px rgba(187, 187, 187, 0.5);
}

.work03_text .inner,
.work04_text .inner {
  padding-top: 215px;
}

.work03_text .inner ul,
.work04_text .inner ul {
  margin-left: 320px;
}

.work03_text .btn,
.work04_text .btn {
  text-align: center;
}
.work03_text .btn > a,
.work04_text .btn > a {
  margin-top: 40px;
}
.work03_text h2,
.work04_text h2 {
  text-align: center;
}

.work03_text p,
.work04_text p {
  text-align: center;
  position: relative;
}

.work03_text p::after,
.work04_text p::after {
  content: '';
  width: 520px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 55px;
  left: 27%;
}

.work04_text {
  width: 1440px;
  margin: 350px auto 200px;
  height: 640px;
  border-radius: 50px;
  background-color: #e9e5df6e;
  box-shadow: 0 10px rgba(187, 187, 187, 0.473);
  position: relative;
}

.work05_text {
  width: 1440px;
  margin: 350px auto 200px;
  height: 640px;
  border-radius: 50px;
  background-color: #ffffff;
  box-shadow: 0 10px rgba(187, 187, 187, 0.466);
  position: relative;
}

.work05_text .inner {
  margin-left: 630px;
}

.work05 figure {
  width: 616px;
  height: 366px;
  position: absolute;
  top: 26%;
  left: 75px;
}

.work05 figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work05_text p::after {
  content: '';
  width: 520px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 55px;
  left: 0;
}

.work06 {
  background: url('../img/배경img2.jpg') center center / cover no-repeat;
  height: 100vh;
}

.work06_text {
  width: 1440px;
  margin: 350px auto 200px;
  height: 640px;
  border-radius: 50px;
  background-color: #ffffff80;
  box-shadow: 0 10px rgba(119, 119, 119, 0.425);
}

.work06 figure {
  width: 678px;
  height: 649px;
  position: absolute;
  top: -20px;
  right: 17%;
}

.work06 figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.work06_text p::after {
  content: '';
  width: 520px;
  height: 1px;
  background-color: #000;
  position: absolute;
  top: 55px;
  left: 0;
}

.last {
  background: url('../img/배경img3.jpg') center center / cover no-repeat;
  height: 1700px;
}

.work_g .list {
  width: 1500px;
  margin: 0 auto 270px;
  height: 600px;
  background-color: #ffffff73;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 30px 20px rgba(128, 128, 128, 0.5);
}

.work_g .list .left_text {
  font-family: 'Inter';
  font-weight: 900;
}
.work_g .list .left_text h1 {
  font-size: 70px;
  margin: 0 50px 50px 50px;
  font-weight: 500;
}

.work_g .list .left_text strong {
  -webkit-text-stroke: 2px #000;
  color: transparent;
  font-weight: 800;
  margin-left: 52px;
}

.work_g .list .left_text p {
  font-size: 25px;
  line-height: 1.3;
  text-align: center;
  font-weight: 400;
  font-family: 'Montserrat';
}

.swiper-slide figure {
  height: 400px;
}

.swiper-slide figure img {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  object-fit: cover;
}

.swiper-slide a:hover figure img {
  transform: scale(0.9);
  transition: 0.5s;
}

.swiper-slide p {
  margin-top: 10px;
}
.contact .contactin .contactmain {
  position: relative;
}

.contact .contactin .contactmain h1 {
  font-size: 100px;
  text-align: center;
  margin-bottom: 100px;
  font-family: 'Inter';
  font-weight: 500;
}

.contact .contactin .contactmain strong {
  -webkit-text-stroke: 2px #000;
  color: transparent;
  font-family: 'Inter';
  font-weight: 900;
}

.contact .contactin .contactmain h4 {
  text-align: center;
  font-size: 30px;
}

.contact .contactin .contactmain .arrow {
  width: 30px;
  height: 37px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
 
}
.contact .contactin .contactmain .arrow {
  animation: arrow 1.5s ease-out infinite;
}

@keyframes arrow {
    0% {
        transform: translate(-50%, -10px);
    }


    100% {
        transform: translate(-50%, 50px);
    }
}
.contact .contactin .contactmain .QR {
  width: 210px;
  height: 210px;
  position: absolute;
  top: 104%;
  left: 50%;
  transform: translateX(-50%);
}

.contact .contactin .contactmain .under {
  text-align: center;
  position: absolute;
  bottom: -135%;
  left: 50%;
  transform: translateX(-50%);
}

.under div {
  font-size: 25px;
  margin-bottom: 50px;
}

.under div li:first-child {
  margin-bottom: 13px;
}

footer {
  font-size: 16px;
  line-height: 1.3;
  color: #636363;
}

footer p {
  font-size: 14px;
  margin-top: 20px;
}