@charset "utf-8";
/* 나눔명조, 프리텐다드
레귤러, 볼드 */
@import url(https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
/* https: 붙여줌 -> 폰트 스타일시트 나옴(파일에 폰트 연결시 필요) */

.nanummyeongjo * {
 font-family: 'Nanum Myeongjo', serif;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}

html, body {
    font-size: 62.5%;
    /* 10px -> 1rem  width 값에는 % 쓰고
    여백, 큰 타이틀에 rem  씀 (작은 폰트, 16px 이하는 px로 표기) */
    color: #333;
    font-family: 'Pretendard-Regular';
    font-weight: 400;    
}
h3 {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: 400;
    font-size: 2.8rem;
    margin-bottom: 3rem;
}

/* 중심축 1360px */
.inner {
    max-width: 1360px;
    width: calc(100% 40px);
    margin: 18rem auto;
    /* 180px */
}
.mobile {
    display: none;
}
/* 중심축 1024px */
@media screen and (max-width:1024px) {
        .pc {display: none;}
        .mobile {display: block;}
}